
            .css-toggle-checkbox {
                display: none;
            }
            .css-toggle-label {
                color:var(--accent-dark);
                font-family: inherit;
                padding:8px;
                border-radius: 10px;
                font-size: 17px;
                border: 2px solid var(--accent-dark);
                background:var(--accent-light);
                font-weight: 900;
                box-shadow: 0px 5px 0px 0px var(--accent-dark);
                cursor: pointer;
                user-select: none;
                min-width: 40px;
                max-width: 40px;
                display:block;
                text-align: center;
            }
            .css-toggle-checkbox:checked + .css-toggle-label {
                box-shadow: 0px 1px 0px 0px;
                transform: translateY(4px);
                background: var(--accent-dark);
                color:var(--accent-light)
            }
            .css-toggle-label .toggle-text::after {
                content: "OFF";
            }
            .css-toggle-checkbox:checked + .css-toggle-label .toggle-text::after {
                content: "ON";
            }
            .toggle {
                display:flex;
                align-items: center;
                user-select: none;
                margin-bottom: 10px;
                width: 100%;
            }
            .toggle div {
                margin-left: 10px;
                color: black;
                padding-top:2px
            }